p {
    margin: 30px;
    color:darkslategrey;
}
h2 {
    margin: 30px;
}
h3 {
    margin: 30px;
}
h1 {
    margin: 30px;
}
h5 {
    margin: 30px;
}
h6 {
    margin: 30px;
}
img {
    margin: 30px;
}
li {
    margin: 30px;
}
nav ul {
    margin: 20px;
}
nav li {
    margin: 30px;
}
.container {
    margin: 10px;
}
.review {
    margin: 30px;
    width: 300px;
}
button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}
body {
    background-color: rgb(238, 238, 185);
}

h6 {
    color: rgb(50, 57, 64);
    margin: 20px;

}
h1 {
    color:rgb(70, 47, 67);
    margin: 20px;
}
h3 {
    color: rgb(70, 47, 67);
    margin: 20px;

}
h4 {
    color: rgb(50, 57, 64);
    margin: 20px;


}
img {
    border: 3px dashed rgb(77, 79, 93);
}
ol {
    color: rgb(27, 62, 47);
}
li {
    margin: 30px;
}
button {
    color: rgb(3, 29, 48);
    background-color: white;
    margin: 20px;
}