p {
    margin: 30px;
}
h2 {
    margin: 30px;
}
h3 {
    margin: 30px;
}
h1 {
    margin: 30px;
}
h4 {
    margin: 30px;
}
h5 {
    margin: 30px;
}
h6 {
    margin: 30px;
}
img {
    margin: 30px;
}
li {
    margin: 30px;
}
